* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.app {
  background-color: rgb(232, 226, 207);
  background-repeat: no-repeat;
  min-height: 100vh;
}
.header {
  background-color: rgb(7, 41, 70);
  text-align: center;
  padding: 15px 0px;
  color: white;
  text-transform: uppercase;
}
.footer {
  position: sticky;
  top: 100%;
  background-color: rgb(7, 41, 70);
  text-align: center;
  padding-top: 10px;
  color: white;
  padding-bottom: 10px;
}
.about {
  text-align: center;
  padding: 10px;
  font-size: 1.1em;
}
.about h4 {
  color: rgb(151, 23, 119);
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  margin-bottom: 5px;
}
.upcoming-todos,
.todos-heading {
  font-size: 1.4em;
  color: rgb(151, 23, 119);
  margin-bottom: 10px;
}

.todos-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 3px auto;
  color: rgb(37, 35, 35);
  padding: 10px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgba(201, 69, 17, 0.5) 0%,
    rgba(233, 41, 7, 0.5) 100%
  );
}
.todo-text {
  display: flex;
  width: 70%;
  justify-content: flex-start;
  align-items: center;
}
.todo-description {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
.todo-description h3 {
  padding: 5px;
  text-transform: capitalize;
}
.todo-description p {
  font-size: 0.8em;
}

.todo:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(150, 64, 145, 0.5) 0%,
    rgba(250, 0, 135, 0.5) 100%
  );
}
.todo:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(72, 204, 67, 0.5) 0%,
    rgba(30, 77, 4, 0.904) 100%
  );
}
.todo:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 0.5) 0%,
    rgba(17, 122, 255, 0.5) 100%
  );
}
.error-message {
  margin-top: 40px;
  color: red;
  text-align: center;
}
.timer {
  text-align: center;
  padding: 30px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20%;
  font-size: 28px;
  cursor: pointer;
}

.delete {
  padding: 5px;
  margin-right: 5px;
}

.edit,
.update {
  color: white;
  padding: 5px;
  margin-right: 10px;
  margin-left: 5px;
}

.add-todo input,
.edit-input {
  margin: 10px auto;
  display: block;
  border-radius: 5px;
  border: 2px solid #03263b;
  outline: none;
  width: 320px;
  background: transparent;
  color: rgb(31, 29, 29);
  font-size: 16px;
  padding: 10px;
}
.add-todo input::placeholder {
  color: #241d1d;
}

.edit-input:focus {
  color: white;
  background-color: rgb(130, 176, 214);
}

input[type="checkbox"]:hover {
  cursor: pointer;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.add-todo button {
  background-color: green;
  color: black;
  font-size: 1em;
  padding: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.add-todo button:hover {
  border: none;
  background-color: rgb(10, 43, 10);
  transition: 0.5s all ease;
}
.error-tag {
  text-align: center;
  color: red;
  margin-bottom: 10px;
}
@media only screen and (max-width: 500px) and (min-width: 300px) {
  .todo {
    width: 80%;
  }
  .add-todo input {
    width: 250px;
  }

  .edit-input {
    width: 150px;
    font-size: 12px;
  }
  .footer {
    font-size: 10px;
  }
}
@media only screen and (max-width: 700px) and (min-width: 501px) {
  .todo {
    width: 60%;
  }
}
